/* Sidebar */
@media screen and (max-width: 600px) {
    :root {
        --sidebar-width: 50px;
    }

    .home span, .playlist, .down span, .logo {
        display: none;
    }
    
    .home li:first-child {
        border-left: none;
    }

    ul img {
        width: 100%;
    }

    .logo-small {
        display: block;
    }

    .install {
        border-bottom: none;
    }

    .install img {
        width: 100%;
    }

    .circle {
        width: 20px;
        height: 20px;
    }

    .sidebar .up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar .down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

/* Main content */
@media screen and (max-width: 1100px) {
    .navbar ul {
        margin: 0 85px;
    }
    
    .col {
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 700px) {
    .navbar ul {
        margin: 0;
    }

    .col {
        width: calc(100% / 2 - 15px);
    }
}

/* Footer */
@media screen and (max-width:600px) {
    .player .left, .player .right {
        width: 250px;
    }
}
@media screen and (max-width:700px) {
    .heart-folder {
        flex-direction: column;
    }
}