:root {
    --sidebar-width: 200px;
    --player-height: 100px;
    --header-height: 80px;
    --nav-content-height: 30px;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Macro-layout */
main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--player-height));
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--player-height);
    /* debug */
    background-color: goldenrod;
}

/* Main layout */
.content {
    position: relative;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: 100%;
    /* debug */
    background-color: black;
}

/* Sidebar layout */
.up, .down {
    /* debug */
    border: 1px solid white;
}

.up {
    height: 50%;
}

.down {
    height: 10%;
}

/* Content layout */
.header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - var(--sidebar-width));
    height: var(--header-height);
    /* debug */
    background-color: darkkhaki;
}

.main-content {
    width: 100%;
    height: calc(100% - var(--header-height));
}

.nav-content {
    width: 100%;
    margin-top: var(--header-height);
    line-height: var(--nav-content-height);
    background-color: aquamarine;
}

section {
    /* debug */
    height: 250px;
    background-color: chartreuse;
    border: 1px solid red;
}

/* Footer layout */
.left, .center, .right {
    width: var(--sidebar-width);
    height: 100%;
    /* debug */
    border: 1px solid blue;
}

/* Common */
body {
    font-family: 'Montserrat', sans-serif;
}

/* MAIN */
/* header */
.btn {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin-right: 10px;
}

/* main-content */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 6);
    height: 100px;
    border: 1px solid black;
}