:root {
    --sidebar-width: 200px;
    --player-height: 100px;
    --header-height: 80px;
    --nav-content-height: 30px;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Utilities */
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Macro-layout */
main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--player-height));
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--player-height);
    /* debug */
    background-color: goldenrod;
}

/* Main layout */
.content {
    position: relative;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: 100%;
    /* debug */
    background-color: black;
    color: white;
}

/* Sidebar layout */
.up, .down {
    /* debug */
    border: 1px solid white;
}

.up {
    height: 60%;
}

.down {
    height: 15%;
}

/* Content layout */
.header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - var(--sidebar-width));
    height: var(--header-height);
    /* debug */
    background-color: darkkhaki;
}

.main-content {
    width: 100%;
    height: calc(100% - var(--header-height));
}

.nav-content {
    width: 100%;
    margin-top: var(--header-height);
    line-height: var(--nav-content-height);
    background-color: aquamarine;
}

section {
    /* debug */
    height: 250px;
    background-color: chartreuse;
    border: 1px solid red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 6);
    height: 100px;
    border: 1px solid black;
}

/* Footer layout */
.left, .center, .right {
    width: var(--sidebar-width);
    height: 100%;
    /* debug */
    border: 1px solid blue;
}

/* Common */
body {
    font-family: 'Montserrat', sans-serif;
}

/* MAIN */
/* header */
.btn {
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin-right: 10px;
}

/* sidebar up */
.logo {
    width: 65%;
    margin: 15px;
}

.logo-small {
    width: 40%;
    display: none;
}

ul {
    margin-bottom: 25px;
}

ul img {
    width: 15%;
    vertical-align: middle;
}

ul li {
    padding: 5px 15px;
}

.home li:first-child {
    border-left: 3px solid #ADFF2F;
}

.home span, .playlist span {
    margin-left: 10px;
}

.playlist i {
    padding: 10px;
    color: black;
    background-color: grey;
}

/* sidebar down */
.install {
    width: calc(100% - 30px);
    margin: 0 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.install img {
    width: 10%;
    vertical-align: middle;
}

.circle-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: grey;
    background-image: url(../img/profile.svg);
    background-position: center;
}

.profile {
    width: calc(100% - 30px);
    margin: 5px 15px;
}
