/* Variables */
:root {
    --sidebar-width: 250px;
    --player-height: 100px;
    --header-height: 80px;
    --navbar-height: 30px;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* Utilities */
.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

/* Common */
ul li:not(:first-child) {
    color: #656565;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 15px;
    color: white;
    background-color: #141922;
}

/* Layout */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Macro-layout */
main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--player-height));
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--player-height);
    /* debug */
    background-color: #282828;
}

/* Main layout */
.content {
    position: relative;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: 100%;
    background-color: black;
    color: #656565;
}

/* Content layout */
.header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - var(--sidebar-width));
    height: var(--header-height);
    background-color: rgba(0,0,0, 0.8);
}

.main-content {
    width: 100%;
    height: calc(100% - var(--header-height));
}

.navbar {
    width: 100%;
    margin-top: var(--header-height);
    padding-top: 15px;
    background-color: #141922;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-top: 15px;
}

/* Footer layout */
.left, .right {
    width: var(--sidebar-width);
    height: 100%;
}

.center {
    flex-grow: 1;
    height: 100%;
}

/* MAIN */
/* header */
.btn {
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin-right: 20px;
}

/* sidebar up */
.sidebar .up {
    overflow-y: auto;
}

.logo {
    width: 65%;
    margin: 15px;
}

.logo-small {
    width: 40%;
    display: none;
}

.sidebar ul {
    margin-bottom: 25px;
}

ul img {
    width: 15%;
    vertical-align: middle;
}

.sidebar ul li {
    padding: 5px 15px;
}

.home li:first-child {
    border-left: 3px solid #ADFF2F;
}

.playlist i {
    padding: 10px;
    color: black;
    background-color: #656565;
}

/* sidebar down */
.install {
    width: calc(100% - 30px);
    color: #656565;
    margin: 0 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.install img {
    width: 10%;
    vertical-align: middle;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: grey;
    background-image: url(../img/profile.svg);
    background-position: center;
}

.profile {
    width: calc(100% - 30px);
    margin: 5px 15px;
}

/* Navbar */
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: #656565;
}

/* ********Trick******** */
.evidenza {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evi-bord {
    border: 2px solid #ADFF2F;
    width: 30%;
}
/* ********Trick******** */

/* Sections */

section h2 {
    margin: 10px 0;
}

section p {
    color: #656565;
    margin-top: 10px;
}

.card-img {
    position: relative;
}

.play-hover {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-hover .fa-circle-play {
    font-size: 50px;
}

.card-content {
    text-align: center;
    margin-top: 20px;
}

.artist img {
    border-radius: 50%;
}

/* Footer */
/* Footer left */
.player .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #656565;
}

.player .card {
    display: flex;
    align-items: center;
    width: 142px;
    height: 100%;
    margin-left: 15px;
}

.player .card-img {
    width: 50px;
    height: 50px;
}

.player .card-content {
    margin-top: 0;
    margin-left: 15px;
    text-align: left;
    font-size: 12px;
}

.player .card-content h3 {
    color: white;
}

.heart-folder {
    display: flex;
    justify-content: space-between;
    width: 40px;
}
/* /Footer left */

/* Footer center */
.media-play {
    display: flex;
    justify-content: center;
    line-height: 50px;
}

.player .center .media-play li a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}

.fa-circle-play {
    font-size: 30px;
}

.time-container {
    display: flex;
    justify-content: center;
}

.time-container time {
    margin: 0 10px;
    color: white;
    font-size: 12px;
}

.bar-container {
    display: flex;
    align-items: center;
    width: 37%;
}

.bar-20 {
    width: 20%;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 5px;
}

.bar-80 {
    height: 5px;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #5A5A5A;
}
/* /Footer center */

/* Footer right */
.player .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.player .volume {
    display: flex;
}

.player .right .volume li a {
    color: white;
    font-size: 15px;
    margin: 0 10px;
}

.right .bar-container {
    display: flex;
    align-items: center;
}
/* /Footer right */

/* HOVER */
.navbar span:hover,
.sidebar a:hover {
    color: white;
    filter: brightness(100);
}

.recently .card:hover .card-img img {
    opacity: 0.7;
}

.recently .card:hover .card-img .play-hover{
    display: block;
}

.header a:hover {
    transform: scale(1.1);
}